<h1>Editing friend</h1>

<br/>

<%= render "form", friend: @friend %>

<br/>

<div>
  <%= link_to "View", @friend, class:"btn btn-secondary" %>
  <%= link_to "Back", friends_path, class:"btn btn-dark" %>
  <%= link_to "Delete", @friend, data: {'turbo-method': :delete, 'turbo-confirm': 'Are you sure?'}, class: "btn btn-danger" %>
</div>
